@keyframes text-shadow-drop-tr {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 6px -6px 18px rgba(0, 0, 0, 0.35);
    }
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  .body {
    font-family: "Poiret One", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  .top {
    height: 860px;
    border-color: #050000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
  }
  
  .header {
    height: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 0px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  }
  
  .home {
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;
    font-family: "Poiret One", cursive;
    font-family: "Poiret One", cursive;
  }
  
  .menu {
    display: flex;
    gap: 32px;
  }
  .menu-header {
    font-family: "Poiret One", cursive;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: white;
  }
  
  .nav {
    font-family: "Poiret One", cursive;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .main {
    background-color: #000000;
    font-family: "Poiret One", cursive;
    height: 500px;
    gap: 32px;
  }
  
  .skill {
    background-color: #000000;
    padding-bottom: 100px;
    font-family: "Poiret One", cursive;
    gap: 32px;
  }
  
  .com {
    background-color: #080808;
    font-family: "Poiret One", cursive;
    gap: 32px;
    height: auto;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    font-family: "Poiret One", cursive;
    gap: 32px;
    align-items: center
  }
  
  .lead {
    display: grid;
    font-family: "Poiret One", cursive;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 50px;
    gap: 32px; 
    background-color: black;
  }
  
  .leader {
    font-size: 30px;
    line-height: 40px;
    grid-column: span 6;
    display: flex;
    align-items: flex-end;
    font-family: "Poiret One", cursive;
    justify-content: center;
    animation: text-shadow-drop-tr 0.6s both;
    color: #ffffff;
  }
  
  .img {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    height: 400px;
  }
  
  .par {
    display: flex;
    align-items: flex-end;
    width: 380px;
    font-size: 18px;
    line-height: 25px;
    animation: text-shadow-drop-tr 0.6s both;
    grid-column: span 6;
    font-family: "Poiret One", cursive;
    color:#FFFFFF;
  }
  
  .photo {
    height: 400px;
  }
  
  .photomob {
    display: none;
  }
  
  .tit {
    display: flex;
    justify-content: center;
    font-family: "Poiret One", cursive;
    font-size: 35px;
    line-height: 50px;
    color: #FFFFFF;
  }
  
  .text {
    font-family: "Poiret One", cursive;
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 45px;
    color: #FFFFFF;
  }
  
  .product-content {
    margin-top: 55px;
    display: flex;
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 56px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
  }
  
  .product {
    width: 218px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  
  .skills {
   background-color: #000000;
   color: #FFFFFF;
   font-family: "Poiret One", cursive;
  }
  
  .button {
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    font-family: "Poiret One", cursive;
    font-style: normal;
    transition: all 0.3s;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .button:hover {
    transform: scale(1.05);
    color: #ffffff;
    background: #000000;
  }
  

  
  .menu-header {
    color: #ffffff;
    font-family: "Poiret One", cursive;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    transition: all 0.3s;
    animation: text-shadow-drop-tr 0.6s both;
  }
  .menu-header:hover {
    color: #dae8fe;
    transform: scale(1.05);
  }
  
  .carousel-inner {
    display: flex;
  }
  .comments,
  .comment {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.container{
  display: flex;
    flex-direction: column;
    align-items: center;
}

  .comment,
  .add-form {
    width: 556px;
    box-sizing: border-box;
    background: #848483;
    filter: drop-shadow(0px 20px 67px rgba(204, 1, 1, 0.08));
    border-radius: 20px;
  }
  .comments {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .comment {
    padding: 48px;
  }

  .comment-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color:#FFFFFF
  }

  .comment-footer {
    display: flex;
    justify-content: flex-end;
  }

  .comment-body {
    margin-top: 32px;
    margin-bottom: 32px;
    
  }

  .comment-text {
    font-size: 32px;
    color: #FFFFFF;
  }

  .likes {
    display: flex;
    align-items: center;
  }

  .like-button {
    all: unset;
    cursor: pointer;
  }

  .likes-counter {
    font-size: 26px;
    margin-right: 8px;
  }

  .like-button {
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M11.11 16.9482L11 17.0572L10.879 16.9482C5.654 12.2507 2.2 9.14441 2.2 5.99455C2.2 3.81471 3.85 2.17984 6.05 2.17984C7.744 2.17984 9.394 3.26975 9.977 4.75204H12.023C12.606 3.26975 14.256 2.17984 15.95 2.17984C18.15 2.17984 19.8 3.81471 19.8 5.99455C19.8 9.14441 16.346 12.2507 11.11 16.9482ZM15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  .-active-like {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.95 0C14.036 0 12.199 0.882834 11 2.26703C9.801 0.882834 7.964 0 6.05 0C2.662 0 0 2.6267 0 5.99455C0 10.1035 3.74 13.4714 9.405 18.5613L11 20L12.595 18.5613C18.26 13.4714 22 10.1035 22 5.99455C22 2.6267 19.338 0 15.95 0Z' fill='%23BCEC30'/%3E%3C/svg%3E");
  }

  .add-form {
    padding: 20px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }
  .add-form-name,
  .add-form-text {
    font-size: 16px;
    font-family: "Poiret One", cursive;
    border-radius: 8px;
    border: none;
  }

  .add-form-name {
    width: 300px;
    padding: 11px 22px;
  }

  .add-form-text {
    margin-top: 12px;
    padding: 22px;
    resize: none;
  }

  .add-form-row {
    display: flex;
    justify-content: flex-end;
  }

  .add-form-button {
    margin-top: 24px;
    padding: 10px 20px;
    background-color: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    font-family: "Poiret One", cursive;
  }

  .add-form-button:hover {
    opacity: 0.9;
  }
  .bid{
    align-items: center;
    gap: 32px;
    padding: 20px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
      width: 400px;
      box-sizing: border-box;
      background:#848483;
      filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
      border-radius: 20px;
    
  }
  .request{
    font-size: 16px;
    font-family: "Poiret One", cursive;
    border-radius: 8px;
    border: none;
    width: 300px;
    padding: 11px 22px;
  }


 

  
  @media (max-width: 767px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    .header {
      padding-top: 32px;
    }
    .text {
      font-size: 20px;
      line-height: 30px;
    }
    .tit {
      font-size: 25px;
      line-height: 30px;
    }
    .lead {
      display: grid;
      font-family: "Poiret One", cursive;
      grid-template-columns: repeat(4, 1fr);
      padding-top: 50px;
      gap: 25px;
    }
    .leader {
      font-size: 20px;
      line-height: 26px;
      grid-column: span 2;
    }
    .photo {
      display: none;
    }
    .photomob {
      display: flex;
      height: 400px;
    }
    .img {
      grid-column: span 4;
    }
    .par {
      font-size: 18px;
      line-height: 25px;
      grid-column: span 2;
    }
    .product {
      width: 150px;
      display: flex;
      flex-direction: column;
    }
  }/*# sourceMappingURL=style.css.map */